# Python
__pycache__/
*.py[cod]
*.so
.Python
venv/
env/
.venv/
pip-log.txt

# Data and cache
data/*.jpg
tesseract_data/
*.csv
*.json

# Docker
**/.env
**/build/
# **/.dockerignore

# Sys
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
logs/


# EXPS
tesseract-api/